.page {
    justify-content: center;
    margin: 0 auto;
    min-width: 320px;
    max-width: 880px;
    font-family: "inter", Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

