.profile {
  display: flex;
  max-width: 880px;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .profile {
    max-width: 320px;
    margin-top: 42px;
    margin-bottom: 36px;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {}
}