.header{
    display: flex;
    max-width: 880px;
    margin-top: 45px;
    height: 74px;
    border-bottom: 1px solid grey;
}
@media screen and (max-width: 320px) {
    .header {
        margin-top: 28px;
        margin-bottom: 0px;
        max-height: 56px;
    }
  }