.popup__form {
    max-width: 430px;
    height: 330px;
    color: black;
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
    .popup__form {
        max-width: 282px;
        max-height: 332px;
        align-content: space-around;
    }
}