.photo__like {
    margin-right: 20px;
    width: 22px;
    height: 19px;
    align-self: center;
    cursor: pointer;
}

.photo__like:hover {
    opacity: 0.5;
}

.photo__like:active {
    opacity: unset;
    background-image: url(../../../images/like_active.svg);
}