.popup__submit {
    border: 1px solid;
    background: black;
    padding: 0;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
    width: 358px;
    height: 50px;
    margin: 18px 0 37px 0;
    color: white;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .popup__submit {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 25px;
        width: 238px;
        height: 46px;
    }
}