.popup__submit {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 2px 2px 2px 2px;
    background-image: url(../../../images/SubmitButton.svg);
    width: 358px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 18px 0 37px 0;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .popup__submit {
        margin-top: 15px;
        width: 238px;
        height: 46px;
        margin-bottom: 25px;
    }
}