.photo__like-button {
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    align-self: center;
    background-image: url(../../../images/like.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.photo__like-button:hover {
    opacity: 0.5;
}