.profile__add {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


.profile__add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 720px) {
    .profile__add {
        width: 80px;
    }
}