.popup__close {
    background-image: url(../../../images/CloseIcon.svg);
    background-position: center;
    width: 32px;
    height: 32px;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    margin-left: 32px;
    margin-bottom: 8px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .popup__close {
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
        max-width: 20px;
        max-height: 20px;
        align-self: flex-end;
        background-size: contain;
    }
}