.profile__name {
    margin: 0;
    font-size: 42px;
    line-height: 94%;
}

@media screen and (max-width: 320px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}