.profile__info {
    margin: 0 244px 0 30px;
    display: grid;
    grid-template-columns: 294px 24px;
    white-space: nowrap;
}
@media screen and (max-width: 720px) {
    .profile__info {
        margin: 0 19px 36px 19px;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-row-gap: 7px;
    }
}
@media screen and (max-width: 320px) {
    .profile__info {
        margin: 0 19px 36px 19px;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-row-gap: 7px;
    }
}