.profile__info {
    margin: 0 auto 0 30px;
    display: grid;
    grid-template-columns: auto min-content;
    white-space: nowrap;
}

@media screen and (max-width: 320px) {
    .profile__info {
        margin: 26px 19px 12px 32px;
        grid-row-gap: 8px;
    }
}