.profile__button {
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    align-self: center;
    margin-left: 18px;
    background-image: url(../../../images/EditButton.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.profile__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 720px) {
    .profile__button {
        margin: 0;
        max-width: 18px;
        max-height: 18px;
        background-size: cover;
    }
}