.photo {
    max-width: 880px;
}

@media screen and (max-width: 720px) {
    .photo {
        max-width: 320px;
    }
}


@media screen and (max-width: 320px) {
    .photo {
        max-width: 320px;
    }
}